@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********INICIO*******/
header {
  background-color: rgb(234, 202, 228);
  height: 11.85%;
}

nav {
  height: 100%;
}

.nav_padre {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu_padre {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

nav ul li {
  list-style: none;
}

.menu_hijo {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

.arriba {
  color: white;
  width: 100%;
  height: 20%;
}

.medio {
  background-image: url(https://live.staticflickr.com/2704/4260762246_235d5261a7_z.jpg);
  background-size: cover;
  width: 100%;
  height: 80%;
  background-position: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
}

.medio h1:hover {
  font-size: 100px;
  transition: all 0.9s;
}

.medio h3:hover {
  font-size: 100px;
  transition: all 0.9s;
}

h1 {
  font-size: 50px;
  font-style: italic;
}

h3 {
  font-size: 40px;
}

footer {
  background-color: rgb(234, 202, 228);
}

/*********CASAMIENTOS*********/
.main_boda_img {
  background: url(../imagenes/boda3.jpg) no-repeat center top 50px/100% 50%;
}

.casamiento_titulo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 30%;
  color: black;
}

.casamiento_titulo:hover {
  font-size: 150px;
  transition: 0.9s;
  padding-top: 140px;
}

.infoyserv {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr;
}

.informacion_boda {
  font-size: small;
  font-style: oblique;
  font-family: "Lucida Sans";
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  width: 320px;
  height: 155px;
  grid-column: 1/2;
  grid-row: 2/3;
  place-self: center;
  background-color: rgb(234, 202, 228);
  border-radius: 15px;
  padding: 5px 0 0 10px;
}

.titulo_casamiento {
  text-align: center;
}

.parrafo_boda {
  font-size: small;
}

.servicios_boda {
  font-size: small;
  font-style: oblique;
  font-family: "Segoe UI";
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 120px;
  grid-column: 3/4;
  grid-row: 2/3;
  place-self: center;
  background-color: rgb(234, 202, 228);
  border-radius: 15px;
  padding: 5px 0 0 10px;
  margin-bottom: 60px;
}

.lista_boda {
  display: flex;
  justify-content: space-between;
  text-decoration: dashed;
  margin: 0 20px 0 20px;
  padding-bottom: 10px;
}

.consultanos_boda {
  display: flex;
  place-content: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

/*********CUMPLE DE 15**********/
.header_fiesta15 {
  background-color: rgb(229, 135, 166);
}

.main_fiesta15_img {
  background: url(../imagenes/15años.jpg) no-repeat center top 50px/100% 50%;
}

.fiesta15_titulo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 45%;
  color: white;
}

.fiesta15_titulo:hover {
  font-size: 100px;
  transition: 0.9s;
}

.contenedorpadre_fiesta15 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
}

.contenedorhijo_fiesta15 {
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-style: oblique;
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
  grid-column: 1/2;
  grid-row: 1/3;
  place-self: center;
  background-color: rgb(229, 135, 166);
  overflow: hidden;
  border-radius: 10px;
}

.contenedorhijodos_fiesta15 {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 50%;
  grid-column: 3/4;
  grid-row: 1/3;
  place-self: center;
  background-color: rgb(229, 135, 166);
  border-radius: 10px;
}

.ofrecemos_fiesta15 {
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
}

.lista_fiesta15 {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0;
}

.consultanos_fiesta15 {
  display: flex;
  place-content: center;
  margin: 130px auto;
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer_fiesta15 {
  background-color: rgb(229, 135, 166);
}

/********FIESTAS INFANTILES*******/
.header_fiestasinfantiles {
  background-color: rgb(167, 234, 167);
}

.main_fiestasinfantiles_img {
  background: url(../imagenes/dino.jpg) no-repeat center top 50px/100% 50%;
}

.cumple_infantil {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 75%;
  color: white;
}

.cumple_infantil:hover {
  font-size: 100px;
  transition: 0.9s;
}

.contenedorpadre_fiestasinfantiles {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  padding-top: 100px;
}

.consultanos_fiestasinfantiles {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  place-content: center;
}

.parrafo_fiestasinfantiles {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 30px;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: rgb(167, 234, 167);
  border-radius: 10px;
}

.ofrecemos_fiestasinfantiles {
  grid-column: 3/4;
  grid-row: 1/3;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  place-content: center;
  height: 80%;
  background-color: rgb(167, 234, 167);
  border-radius: 10px;
  width: 72%;
}

.ofrecer_fiestasinfantiles {
  font-family: sans-serif;
  display: flex;
  place-content: center;
  margin-right: 30px;
}

.lista_fiestasinfantiles {
  display: flex;
  place-content: center;
}

.mucha_diversion {
  font-family: sans-serif;
  display: flex;
  place-content: center;
}

.footer_fiestasinfantiles {
  background-color: rgb(167, 234, 167);
}

/************CONTACTO*************/
.header_contacto {
  background-color: rgb(0, 0, 0);
  height: 10%;
}

.main_contacto {
  background: linear-gradient(black, rgb(110, 110, 110));
  height: 73%;
}

.menu_hijo_2 {
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

.footer_contacto {
  background-color: grey;
}

.form {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(242, 242, 238);
  display: block;
  margin: auto;
  padding: 20px;
  width: 340px;
  height: 435px;
  margin-top: 15px;
  padding-bottom: 100px;
}

.titulo_contacto {
  position: relative;
  text-align: center;
  background-color: grey;
  color: rgb(239, 239, 233);
  margin-top: 0;
}

.name {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  height: 30px;
  border: black solid 1px;
}

.phone {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  height: 30px;
  border: black solid 1px;
}

.email {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  height: 30px;
  border: black solid 1px;
}

.text {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  border: black solid 1px;
}

.submit {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 200;
  font-size: medium;
  width: 120px;
  height: 30px;
  border: black solid 2px;
}

.submit:hover {
  width: 25vh;
  height: 5vh;
}

.menu_principal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.menu_principal a:visited {
  color: white;
}

.menu_principal a:hover {
  color: white;
  transform: scale(1.3);
  transition: 0.7s;
}

/********FOOTER*********/
.footer_padre {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.contacto {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: small;
  padding-left: 30px;
}

.entre_rios {
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: center;
  text-align: center;
}

.seguinos_redes {
  font-size: 11px;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  padding-right: 30px;
}

/******MEDIA QUERYS******/
/******INDEX******/
@media (max-width: 498px) {
  /* .menu_padre {
  flex-direction: column;
  } */
  .nav_padre {
    height: 230px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .nav_padre a img {
    z-index: 100;
    position: absolute;
    float: left;
    margin-left: -215px;
    margin-top: 10px;
  }
  .menu_padre {
    flex-direction: column;
    color: rgb(8, 8, 8);
    background-color: rgb(234, 202, 228);
    margin-top: -50px;
    z-index: 5;
  }
  .entre_rios {
    display: none;
  }
  .footer_padre {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 50px 0 50px 0;
  }
  .contacto {
    font-size: small;
    place-self: center;
  }
  .contacto .bi-whatsapp .bi-envelope-fill {
    padding-right: -20px;
    font-size: 25px;
  }
  .seguinos_redes {
    font-size: small;
    place-self: center;
  }
  /*****BODAS*****/
  .casamiento_titulo {
    font-size: 40px;
    padding-top: 270px;
  }
  .infoyserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
  .consultanos_boda {
    display: none;
  }
  .servicios_boda {
    margin-bottom: 20px;
  }
  /****FIESTA 15*****/
  .consultanos_fiesta15 {
    display: none;
  }
  .contenedorhijo_fiesta15 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedorhijodos_fiesta15 {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  /*****CUMPLE INFANTIL*****/
  .cumple_infantil {
    font-size: 40px;
    padding-top: 200px;
  }
  .contenedorpadre_fiestasinfantiles {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .parrafo_fiestasinfantiles {
    margin-top: 30%;
  }
  .posible {
    font-size: larger;
  }
  .consultanos_fiestasinfantiles {
    display: none;
  }
  /*****CONTACTO*****/
  .main_contacto {
    display: grid;
    place-content: center;
    height: 100%;
  }
  .menu_principal {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
