//MAPA 


$mapaColores:(


colorHeader: rgb(234, 202, 228),
colorMenuHijo: black,
colorLetraTitulo: white,
colorHeaderCumple15: rgb(229, 135, 166),
colorHeaderFiestasInfantiles: rgb(167, 234, 167)


);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********INICIO*******/


header{
    background-color: map-get($mapaColores, colorHeader);
    height: 80px;
}

nav{
height: 100%;

}

.nav_padre{                                    
    display: flex;
    width: 100%;
    height: 100%;

}
.menu_padre{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

nav ul li{
    list-style: none;
}
.menu_hijo{
    text-decoration: none;
    list-style: none;
    color: map-get($mapaColores, colorMenuHijo);
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

.arriba {
    color: map-get($mapaColores, colorLetraTitulo);
    width: 100%;
    height: 20%;

}

.medio {
    background-image: url(https://live.staticflickr.com/2704/4260762246_235d5261a7_z.jpg);
    background-size: cover;
    width: 100%;
    height: 80%;
    background-position: 200px;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
}

.medio h1:hover{
    font-size: 100px;
    
}

.medio h3:hover{
    font-size: 100px;
    
}


h1 {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    transition: all 0.9s;
}


h3 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.9s;

}

footer{
    background-color: map-get($mapaColores , colorHeader );
}



/*********CASAMIENTOS*********/

.main_boda_img{
    background: url(../imagenes/boda3.jpg) no-repeat center top 10px / 100% 50%;
    background-size: cover;
}


.casamiento_titulo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30%;
    color: map-get($mapaColores , colorMenuHijo );
    transition: 0.9s;
}

.casamiento_titulo:hover{
    font-size: 100px;
    

}


.infoyserv{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr 1fr;
}


.informacion_boda{
    font-size: small;
    font-style: oblique;
    font-family: 'Lucida Sans';
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 320px;
    height: 170px;
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
    background-color: map-get($mapaColores , colorHeader );
    border-radius: 15px;
    padding: 5px 0 0 10px;
    line-height: 18px;

}

.titulo_casamiento{
    text-align: center;
}

.parrafo_boda{
    font-size:small;
}


.servicios_boda{
    font-size: small;
    font-style: oblique;
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 120px;
    grid-column: 3/4;
    grid-row: 2/3;
    place-self: center;
    background-color: map-get($mapaColores , colorHeader );
    border-radius: 15px;
    padding: 5px 0 0 10px;
    margin-bottom: 60px;

}

.lista_boda{
    display: flex;
    justify-content: space-between;
    text-decoration: dashed; 
    margin: 0 20px 0 20px;
    padding-bottom: 10px;
}


/*********CUMPLE DE 15**********/

.header_fiesta15 {
    background-color: map-get($mapaColores , colorHeaderCumple15 );
}

.main_fiesta15_img {
    background: url(../imagenes/chicas15.jpg) no-repeat center top 10px /100% 50%;
    background-size: cover;

}

    .fiesta15_titulo {
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 45%;
    color: white;
    transition: 0.9s;
}

.fiesta15_titulo:hover {
    font-size: 100px;
    
}

    .contenedorpadre_fiesta15 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

    .contenedorhijo_fiesta15 {
    font-size: larger;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-style: oblique;
    width: 450px;
    height: 180px;
    grid-column: 1/2;
    place-self: center;
    background-color: map-get($mapaColores , colorHeaderCumple15 );
    border-radius: 10px;
    padding: 20px;
}


.contenedorhijo_fiesta15 p
{
font-size: 16px;
line-height: 25px;
}

    .contenedorhijodos_fiesta15 {
    width: 450px;
    height: 180px;
    margin-bottom: 20px;
    grid-column: 2/3;
    place-self: center;
    background-color: map-get($mapaColores , colorHeaderCumple15 );
    border-radius: 10px;
}

    .ofrecemos_fiesta15 {
    font-style: oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 0 30px 2px;
}

    .lista_fiesta15 {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 0;
}


    .footer_fiesta15 {
    background-color: map-get($mapaColores , colorHeaderCumple15 );
}

/********FIESTAS INFANTILES*******/

.header_fiestasinfantiles{
    background-color: map-get($mapaColores , colorHeaderFiestasInfantiles);
}

.main_fiestasinfantiles_img{
    background: url(../imagenes/nenes.jpg) no-repeat center top 0px / 100% 50%;
    background-size: cover;

}

.cumple_infantil{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 75%;
    color: white;
    transition: 0.9s;
}

.cumple_infantil:hover{
    font-size: 100px;
    
}

.contenedorpadre_fiestasinfantiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 100px 0 30px 0;
    margin-bottom: 20px;

}


.parrafo_fiestasinfantiles{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:380px ;
    height:150px;
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
    display: flex;
    flex-direction: column;
    background-color: map-get($mapaColores , colorHeaderFiestasInfantiles);
    border-radius: 10px;
    line-height: 18px;
    overflow: hidden;
    padding: 5px 10px;
    transition: 0.5s;
    p span{
    font-weight: bold;
    }
    .verMas{
        color: blue;
    }
}
.parrafo_fiestasinfantiles:hover{
        width: 380px;
        height: 220px;

        .verMas{
            display: none;
        }
}


.ofrecemos_fiestasinfantiles{
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    place-self: center;
    height: 150px;
    width: 380px;
    background-color: map-get($mapaColores , colorHeaderFiestasInfantiles);
    border-radius: 10px;
    padding-top: 10px;
}

.ofrecer_fiestasinfantiles{
    font-family: sans-serif;
    display: flex;
    place-content: center;

}

.lista_fiestasinfantiles{
    display: flex;
    place-content: center;
}

.mucha_diversion{
    font-family: sans-serif;
    display: flex;
    place-content: center;
}

.footer_fiestasinfantiles{
    background-color: map-get($mapaColores , colorHeaderFiestasInfantiles);
}



/************CONTACTO*************/


.header_contacto{
    background-color: rgb(0, 0, 0);
    height:80px;
}


.main_contacto{
    background: linear-gradient(black, rgb(110, 110, 110));
    height: 100vh;

}

.menu_hijo_2{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
}


.footer_contacto{
    background-color: grey;

}


.form{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(242, 242, 238);
    display: block;
    margin: auto;
    padding: 20px;
    width: 340px;
    height: 435px;
    margin-top: 15px;
}



.titulo_container{
    display: flex;
    place-content: center;
    width: 100%;
    background-color: grey;
    color: rgb(239, 239, 233);
}

.name{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 30px;
    border: black solid 1px;
}

.phone{

    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 30px;
    border: black solid 1px;
}

.email{

    display: block;
    margin: auto;
    margin-bottom: 30px;
    height: 30px;
    border: black solid 1px;
}

.text{

    display: block;
    margin: auto;
    margin-bottom: 25px;
    border: black solid 1px;
}

.submit{

    display: block;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 200;
    font-size: medium;
    width: 120px;
    height: 30px;
    border: black solid 2px;
}

.submit:hover{
    width: 25vh;
    height: 5vh;
    
}

a{
    text-decoration: none;
}

/********FOOTER*********/

.footer_generico{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1 fr 1fr;
    grid-template-rows: 1fr;
}
.seguinos_redes{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    .instagram{
        color: #ffffff;
    }
}
.entre_rios{
    grid-column: 2/3;
    grid-row: 1/2;
    place-self: center;
    text-align: center;
}
.contactanos{
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: center;
    .gmail{
        width: 50px;
        height: 50px;
        color: #EA4335;
    }
}

.btn-wpp {
    
        position: fixed;
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 30px;
        background: #0df053;
        color: white;
        border-radius: 30px;
        text-align: center;
        padding-top: 12px;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
        
    }


/******MEDIA QUERYS******/


@media(max-width:952px){
    .contenedorpadre_fiesta15 {
        display: flex;
        flex-direction: column;
    }
    
        .contenedorhijo_fiesta15 {
            margin-bottom: 20px;
            width: 450px;
            height: 170px;
    }
        .contenedorhijodos_fiesta15 {
        margin-top: 20px;
    }
    .titulo_container{
        width: 100%;
    }
    .infoyserv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

/*******FIESTAS INFANTILES*******/
.contenedorpadre_fiestasinfantiles{
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 50px 0 30px 0;
    gap: 60px;
}
.casamiento_titulo:hover{
    font-size: 50px;
}
.fiesta15_titulo:hover{
    font-size: 50px;
}
.cumple_infantil:hover{
    font-size: 50px;
}
.medio h1:hover{
    font-size: 50px;
    
}

.medio h3:hover{
    font-size: 50px;
    
}
}
@media (max-width: 720px){
    .nav_padre {
        height: 150px;
        flex-direction: column;
        align-items: center;
        
    }
    
    .nav_padre a img{
        z-index: 100;
        position: absolute;
        float: left;
        margin-left: -300px;
        margin-top: 10px;
        height: 65px;
        width: 65px;
    }
    
    .menu_padre {
        flex-direction: column;
        color: rgb(8, 8, 8);
        z-index: 5;
        }
        .casamiento_titulo{
            font-size: 40px;
            padding-top: 190px;
    &:hover{
        font-size: 70px;
    }
        }
        .titulo_container{
            padding-top: 70px;
        }
/******Inicio****/
.medio {

    margin: 90px 0 20px 0;
}
.entre_rios{
    display: none;
}
}

@media (max-width: 600px){
    .nav_padre a img{
        z-index: 100;
        position: absolute;
        float: left;
        margin-left: -200px;
        margin-top: 10px;
        height: 65px;
        width: 65px;
    }
    .footer_generico{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .contactanos{
        padding-bottom: 15px;
    }
}
    @media (max-width: 487px){

        .btn-wpp {
            width: 45px;
            height: 45px;
            padding-top: 10px;
            font-size: 25px;
        }
    

    .nav_padre {
    height: 150px;
    flex-direction: column;
    align-items: center;
    
}

.nav_padre a img{
    z-index: 100;
    position: absolute;
    float: left;
    margin-left: -200px;
    margin-top: 10px;
    height: 65px;
    width: 65px;
}

.menu_padre {
    flex-direction: column;
    color: rgb(8, 8, 8);
    background-color:  rgb(234, 202, 228);
    z-index: 5;
    }
    .footer_padre {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 50px 0 50px 0;
    }

    .contacto .bi-whatsapp .bi-envelope-fill{
        padding-right: -20px;
        font-size: 25px;
    }
    

    /*****BODAS*****/


    .infoyserv{
        margin-top: 100px;
    }
    .servicios_boda{
        margin-bottom: 20px; 
    }
    .casamiento_titulo{
        font-size: 30px;
        padding-top: 180px;
&:hover{
    font-size: 40px;
}
    }
    /****FIESTA 15*****/

    .contenedorpadre_fiesta15{
        display: flex;
        flex-direction: column;
        place-content: center;
        padding: 0 0 30px 0;
    }
    .consultanos_fiesta15 {
        display: none;
    }
    .contenedorhijo_fiesta15{
        width: 370px;
        height: 170px;
    }
    .contenedorhijodos_fiesta15{
        width: 370px;
        margin-top: 50px;
    }
    .contenedorhijo_fiesta15 p
{
font-size: 15px;
line-height: 22px;
}


    /*****CUMPLE INFANTIL*****/

    .cumple_infantil{
        font-size: 40px;
        padding-top: 200px

    } 

    .contenedorpadre_fiestasinfantiles{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ofrecemos_fiestasinfantiles{
        margin-bottom: 5%;
    }

    .parrafo_fiestasinfantiles{
        margin-top: 30%
    }

    .posible{
        font-size: larger;
    }



    /*****CONTACTO*****/

    .main_contacto{
        display: grid;
        place-content: center;
        height: 100%;
    }
    .titulo_container{
        width: 100%;
        padding-top: 20px;
    }

/***btn***/
.img-wpp {
    width: 40px;
    height: 40px;
    transition: ease 1s;
    animation: efecto 1.2s infinite;
    border-radius: 50%;
}

@keyframes efecto {
    0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.85);
    }
    100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}
}
@media (max-width: 410px){
    .nav_padre a img{

        margin-left: -170px;
        margin-top: 10px;
        height: 55px;
        width: 55px;
    }

}